<!doctype html>
<html lang="CH">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>例子</title>
<!-- style sheets -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css" />
<!-- ColorBox css -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/colorbox.css" />
<!-- jQuery ThemeRoller -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/custom-theme/jquery-ui-1.8.21.custom.css" />
<!-- lhpGigaImgViewer plugin css -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lhp_giv.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css" />
<style>
#search{
    width: 100%;
    position: fixed;
    z-index: 9999;
    text-align: center;
}

#search-container{
    width: 300px;
    text-align: center;
    display: inline-block;
    padding: 20px 15px;
    float: right;
}
</style>
</head>
<body>

    <div id="search">
        <div id="search-container">
            <input type="text" id="search-input" value="" />
            <button type="button" id="search-btn">search</button>
        </div>
    </div>

		<div id="wrapper">
			<div class="sample">
				<div id="myDiv"></div>
			</div>
		</div>

		<!-- hotspots -->
		<div id="MyHotspots" style="display:none;">

            <volist name="hotspots" id="hotspot">

                <div class="lhp_giv_hotspot" data-x="{$hotspot.x}" data-y="{$hotspot.y}" data-visible-scale=".{$hotspot.scale}">
                    <div class="lhp_giv_marker pos-{$hotspot.pos}">
                        <div class="label">{$hotspot.title}</div>
                        <img src="__PUBLIC__/gfx/arrow{$hotspot.arrow}.png" />
                    </div>

                    <if condition="($hotspot.show_title eq 1) OR ($hotspot.show_content eq 1)">
                        <div class="lhp_giv_popup pos-{$hotspot.detail_pos}">
                            <div class="content" style="width:300px;">

                                <if condition="$hotspot.show_title eq 1">
                                    <span>{$hotspot.title}</span><br/>
                                </if>

                                <if condition="$hotspot.show_content eq 1">
                                    {$hotspot.content}
                                </if>

                            </div>
                        </div>
                    </if>

                </div>

            </volist>


        </div>
		<!-- hotspots end -->

<!-- js files -->
<!-- jQuery framework -->
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<!-- jQuery ui -->
<script type="text/javascript" src="__PUBLIC__/js/jquery-ui-1.8.21.custom.min.js"></script>
<!-- jQuery easing plugin-->
<script type="text/javascript" src="__PUBLIC__/js/jquery.easing.1.3.js"></script>
<!-- jQuery mousewheel plugin-->
<script type="text/javascript" src="__PUBLIC__/js/jquery.mousewheel.min.js"></script>
<!-- lhpGigaImgViewer plugin -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.lhpGigaImgViewer.min.js"></script>
<!-- swfobject -->
<script type="text/javascript" src="__PUBLIC__/js/swfobject.js"></script>
<!-- preview js code -->
<script type="text/javascript" src="__PUBLIC__/js/preview1.js"></script>
<script type="text/javascript">
    $(function(){
        var locate = function(){
            var w_h = $(window).outerHeight();
            $('#myDiv').height(w_h);
        };
        locate();
        $(window).resize(function(){
            locate();
        });

        $('#search-btn').click(function(){
            var input = $.trim($('#search-input').val());
            var pattern = new RegExp('^'+input+'.*');
            if (input.length == 0) {
                return false;
            } else {
                $('.lhp_giv_hotspot .label').each(function(){
                    var label_val = $.trim($(this).text());
                    if (pattern.test(label_val)) {
                        $(this).trigger('mousedown');
                        return false;
                    }
                });
            }
        });
    })
</script>
	</body>
</html>
