<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>admin</title>
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
    <div style="height:50px;"></div>
    <div class="container">

        <form class="form-hotizontal" action="{:U('admin/index/editHandle', array('Id' => $hotspot['Id']))}" method="post">

            <div class="form-group">
                <label for="title">标题：</label>
                <input type="text" class="form-control" id="input-title" name="title" value="{$hotspot.title}" />
            </div>

            <div class="form-group">
                <label for="x">X：</label>
                <input type="text" class="form-control" id="input-x" name="x" value="{$hotspot.x}" />
            </div>

            <div class="form-group">
                <label for="y">Y：</label>
                <input type="text" class="form-control" id="input-y" name="y" value="{$hotspot.y}" />
            </div>

            <div class="form-group">
                <label for="pos">标签位置：</label>
                <select class="form-control" id="input-pos" name="pos">
                    <option value="BR" <if condition="$hotspot.pos eq 'BR'">selected="selected"</if>>BR</option>
                    <option value="BL" <if condition="$hotspot.pos eq 'BL'">selected="selected"</if>>BL</option>
                    <option value="R" <if condition="$hotspot.pos eq 'R'">selected="selected"</if>>R</option>
                    <option value="L" <if condition="$hotspot.pos eq 'L'">selected="selected"</if>>L</option>
                </select>
            </div>

            <div class="form-group">
                <label for="y">标签层级：</label>
                <input type="text" class="form-control" id="input-scale" name="scale" value="{$hotspot.scale}" />
            </div>

            <div class="form-group">
                <label for="arrow">箭头类型：</label>
                <select class="form-control" id="input-arrow" name="arrow">
                    <option value="1" <if condition="$hotspot.arrow eq 1">selected="selected"</if>>1</option>
                    <option value="2" <if condition="$hotspot.arrow eq 2">selected="selected"</if>>2</option>
                    <option value="3" <if condition="$hotspot.arrow eq 3">selected="selected"</if>>3</option>
                    <option value="4" <if condition="$hotspot.arrow eq 4">selected="selected"</if>>4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="detail_pos">弹出框位置：</label>
                <select class="form-control" id="input-detail_pos" name="detail_pos">
                    <option value="BR" <if condition="$hotspot.pos eq 'BR'">selected="selected"</if>>BR</option>
                    <option value="BL" <if condition="$hotspot.pos eq 'BL'">selected="selected"</if>>BL</option>
                    <option value="R" <if condition="$hotspot.pos eq 'R'">selected="selected"</if>>R</option>
                    <option value="L" <if condition="$hotspot.pos eq 'L'">selected="selected"</if>>L</option>
                </select>
            </div>

            <div class="form-group">
                <label for="show_title">详情是否显示标题：</label>
                <select class="form-control" id="input-show_title" name="show_title">
                    <option value="1" <if condition="$hotspot.show_title eq 1">selected="selected"</if>>是</option>
                    <option value="0" <if condition="$hotspot.show_title eq 0">selected="selected"</if>>否</option>
                </select>
            </div>

            <div class="form-group">
                <label for="show_content">详情是否显示内容：</label>
                <select class="form-control" id="input-show_content" name="show_content">
                    <option value="1" <if condition="$hotspot.content eq 1">selected="selected"</if>>是</option>
                    <option value="0" <if condition="$hotspot.content eq 0">selected="selected"</if>>否</option>
                </select>
            </div>

            <div class="form-group">
                <label for="content">详情内容：</label>
                <textarea class="form-control" id="input-content" name="content">{$hotspot.content}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">确定</button>

        </form>

    </div>

    <div style="height:50px;"></div>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
